@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    background-color: #091442;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 25px 55px rgba(0,0,0,.6);
    border-radius: 10px;
    border:solid 1px;
    border-color:white;

}
.container form p{

    color:white;
}

.container h2{

    color:white;
    font-size:16px
}

.form{

    justify-content:center;
}


