<!DOCTYPE html>
<html>
<head>
    <title>Choose</title>
</head>
<body>
    
    
    <a href="/Home/AddLeague">Add League</a>
    <br />
    <a href="/Home/ListLeague">List Leagues</a>


</body>
</html>