<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Choose.css" rel="stylesheet" />
    <title>Choose</title>
</head>
<body>
    <a href="/">Back to the home page</a>
    <div class="container">
        <h2>What do you want?</h2>
        
        <div class="item">
                <a href="/Home/AddLeague">Add League</a>
        </div>

        <div class="item">
            <a href="/Home/ListLeague">List Leagues</a>
        </div>
    </div>

</body>
</html>