<!DOCTYPE html>
<html>
<head>
    <title>Add League</title>
</head>
<body>

    <form action="/Home/AddLeague" method="post">
        <p>Adjon hozzá egy ligát, a liga aza datbázisban csak EGYSZER szerepel!</p>
        <input type="text" name="LeagueID" />
        <p>Country</p>
        <input type="text" name="Country" />
        <input type="submit"  value="ADD" />
    </form>



</body>
</html>