<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Data.css" />
    <title>Data picker</title>
</head>
<body>
    <div class="container">
        
        <div class="item item1" onclick="location.href='/Home/ListLeague';">
            <div class="text">
                <a href="/Home/ListLeague"><h3>Leagues</h3></a>
            </div>

        </div>

        <div class="item item2" onclick="location.href='/Home/ListTeams';">
            <div class="text">
                <a href=""><h3>Teams</h3></a>
            </div>


        </div>


        <div class="item item3" onclick="location.href='/Home/ListAllPlayer';">>
            <div class="text">
                <a href=""><h3>Players</h3></a>
            </div>

        </div>



    </div>
</body>
</html>