<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Data.css" />
    <title>Data picker</title>
</head>
<body>
    <h2>Hint : Ha pl. itt törölsz, módosítasz egy csapatot, akkor átirányít egy olyan List felületre, ahol csak az adott ligához tartozó csapatok találhatóak!(Ugyenez igaz mindenre!)</h2>
    <h2>Ha másképp szeretnél listázni -> Add -> List Leagues</h2>
    <div class="container">
        
        <div class="item item1" onclick="location.href='/Home/ListLeague';">
            <div class="text">
                
            </div>

        </div>

        <div class="item item2" onclick="location.href='/Home/ListTeams';">
            <div class="text">
               
            </div>


        </div>


        <div class="item item3" onclick="location.href='/Home/ListAllPlayer';">>
            <div class="text">
                
            </div>

        </div>



    </div>
</body>
</html>