<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Index.css" rel="stylesheet" />

    <title>Document</title>
</head>
<body>
    <header>
        <a href="#"><img src="logo.png" class="logo"></a>
        <div class="toggleMenu" onclick="menuToggle();"></div>
        <ul class="navigation">
            <li><a href="/">Home</a></li>
            <li><a href="/Home/Add">Add</a></li>
            <li><a href="/Home/Data">Data</a></li>
            <li><a href="/Home/Stat">Stat</a></li>
            <li><a href="/Home/GenerateData">Generate Data</a></li>

        </ul>
    </header>
    <div class="container">

        <div class="section">
            <a href="https://www.fifa.com/"><img src="FIFA-logo.jpg" alt=""></a>
        </div>

        <div class="section">
            <a href="https://www.uefa.com/"><img src="uefa.jpg" alt=""></a>
        </div>

        <div class="section">
            <a href="https://www.eredmenyek.com/"><img src="other.png" alt=""></a>
        </div>

        <div class="section">
            <a href="https://trollfoci.blogstar.hu/"><img src="profile_crop_400x400.jpg" alt=""></a>
        </div>


    </div>


</body>
</html>