@model IEnumerable<Models.League>

@{
    ViewData["Title"] = "ListLeagues";
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/ListPlayers.css" rel="stylesheet" />
    <title>LIST LEAGUES</title>
</head>
<body>
    <h1>ListLeagues</h1>
    <a href="/">Back to the home page</a>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LeagueID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Country)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LeagueID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            <a href="/Home/AddTeam?id=@item.LeagueID">Add Team</a>
                            <br />
                            <a href="/Home/LeagueTeamList?id=@item.LeagueID">List Teams from this League</a>
                            <br />
                            <a href="/Home/UpdateLeague?id=@item.LeagueID">Update League</a>
                            <br />  
                            <a href="/Home/DeleteLeague?id=@item.LeagueID">Delete League</a>


                        </td>
                    </tr>
                }

                <a href="/Home/AddLeague">Add a new league</a>
            </tbody>
        </table>
    </div>

</body>
</html>
