@model Models.Stat

<!DOCTYPE html>
<html>
<head>
    <title>Stat</title>
</head>
<body>
    <p>Legnagyobb liga :  @Model.LegnagyobbLiga</p>
    <p>Legnagyobb ratinggel rendelkező játékos :  @Model.MaxRatingJatekos</p>



</body>
</html>
