@using Models
@model League
<!DOCTYPE html>
<html>
<head>
    <title>Edit League</title>
</head>
<body>

    <form action="/Home/UpdateLeague" method="post">
        <input type="hidden" name="LeagueID" value="@Model.LeagueID" />
        <p>Country</p>
        <input type="text" name="Country" value="@Model.Country" />
        <input type="submit" value="ADD" />
    </form>



</body>
</html>