@using Models
@model League
<!DOCTYPE html>
<html>
<head>
    <link href="~/ADD.css" rel="stylesheet" />
    <title>Edit League</title>
</head>
<body>


    <div class="container">
        
        <h2>League Update:</h2>
        <div class="form">
            <form action="/Home/UpdateLeague" method="post">
                <input type="hidden" name="LeagueID" value="@Model.LeagueID" />
                <p>Country</p>
                <input type="text" name="Country" value="@Model.Country" />
                <input type="submit" value="ADD" />

            </form>
        </div>
    </div>


</body>
</html>