@using Models
@model Team
<!DOCTYPE html>
<html>
<head>
    <link href="~/ADD.css" rel="stylesheet" />
    <title>Update Team</title>
</head>
<body>
    <div class="container">

        <h2>Team Update</h2>

        <div class="form">
            <form action="/Home/UpdateTeam" method="post">

                <input type="hidden" name="TeamID" value="@Model.TeamID" />
                <br />
                <p>CITY:</p>
                <input type="text" name="City" value="@Model.City" />
                <br />
                <input type="hidden" name="LeagueID" value="@Model.LeagueID" />
                <input type="submit" value="Update TEAM" />

            </form>
        </div>
    </div>

</body>
</html>